In [67]:
name = "Ujang tahu bulat"
age = 1000
address,province = "Mexico bagian lebak","12345678"
pythonScore = 100
isMarried = False
Hobbies = "Mancing di cikupa"
Quotes = "Telat makan aja sakit apalagi telat menghargai"
Car = "Pajero sport","Nissan GTR Nismo","Toyota Supra MK4"
MotoBike =
print("Nama :",name)
print("Umur :",age)
print("Alamat :",address)
print("Provinsi :",province)
print("Nilai Pemrograman :",pythonscore)
print("Status Menikah :",isMarried)
print("Hobi :",Hobbies)
print("Kata Kata :",Quotes)
print("Mobil :",Car)

Nama : Ujang tahu bulat
Umur : 1000
Alamat : Mexico bagian lebak
Provinsi : 12345678
Nilai Pemrograman : 100
Status Menikah : False
Hobi : Mancing di cikupa
Kata Kata : Telat makan aja sakit apalagi telat menghargai
Mobil : ('Pajero sport', 'Nissan GTR Nismo', 'Toyota Supra MK4')

In [59]:
print("Tipe Data (name) :",type(name))
print("Tipe Data (age) :", type(age))
print("Tipe Data (address) :",type(address))
print("Tipe Data (pythonScore) :",type(pythonScore))
print("Tipe Data (province):",type(province))
print("Tipe Data (isMarried) :",type(isMarried))

Tipe Data (name) : <class 'str'>
Tipe Data (age) : <class 'int'>
Tipe Data (address) : <class 'str'>
Tipe Data (pythonScore) : <class 'int'>
Tipe Data (province): <class 'str'>
Tipe Data (isMarried) : <class 'bool'>

In [65]:
#Casting atau konversi Tipe Data

strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt+2,strToFloat,strToBool)

intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool)

floatToStr = str(pythonScore)
floatToInt = int(pythonScore)
floatToBool = bool(pythonScore)
print(floatToStr,floatToInt,floatToBool)

boolToStr = str (isMarried)
boolToInt = int (isMarried)
boolToFloat = float (isMarried)
print(boolToStr,boolToInt,boolToFloat)

12345680 12345678.0 True
1000 1000.0 True
100 100 True
False 0 0.0

In [56]:
#String adalah beberapa kumpulan dari beberapa karakter dan Immutable

city = "Palabuhanratu"
panjang = len(city)
print(city[0])
print(city[panjang-1])

P
u

In [66]:
desimal = 500
biner = 0b1010
octal = 0o377
hexa = 0xff

print("Nilai desimal:",desimal)
print("Nilai biner:",biner)
print("Nilai octal:",octal)
print("Nilai hexa:",hexa)

print("Biner dari ",desimal,":",bin(desimal))
print("Octal dari ",desimal,":",oct(desimal))
print("Hexadesimal dari ",desimal,":",hex(desimal))

Nilai desimal: 500
Nilai biner: 10
Nilai octal: 255
Nilai hexa: 255
Biner dari  500 : 0b111110100
Octal dari  500 : 0o764
Hexadesimal dari  500 : 0x1f4

In [163]:
#Tipe data Collection
cities = ["Palabuhanratu","Citepus","Sukabumi"] #list
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1] = "Arab"
print(cities)

hobbies = ("Melamun","Ngeronda","Melukis Batu")
print(hobbies)
print(hobbies[0])
#hobbies[0] = "Maling Ayam" error program

studentList = [
    { 
        "name": "Pinsen",
        "age": 35,
        "address": {
            "street": "jl. berlubang",
            "number": 0,
            "province": "Barcelona"
        }
    },
    {
        "name": "Mamat knalpot",
        "age": 44,
        "address": {
            "street": "jl. hahay",
            "number": 11,
            "province": "Pasir Hencay"
        }
    }
]

# Mengakses data dari studentList
print(studentList)  
print(studentList[0]["name"])
print(studentList[0]["address"]["province"])
print(studentList[1])

['Palabuhanratu', 'Citepus', 'Sukabumi']
Palabuhanratu
Sukabumi
['Palabuhanratu', 'Arab', 'Sukabumi']
('Melamun', 'Ngeronda', 'Melukis Batu')
Melamun
[{'name': 'Pinsen', 'age': 35, 'address': {'street': 'jl. berlubang', 'number': 0, 'province': 'Barcelona'}}, {'name': 'Mamat knalpot', 'age': 44, 'address': {'street': 'jl. hahay', 'number': 11, 'province': 'Pasir Hencay'}}]
Pinsen
Barcelona
{'name': 'Mamat knalpot', 'age': 44, 'address': {'street': 'jl. hahay', 'number': 11, 'province': 'Pasir Hencay'}}